<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	<body>
		<div
			<h1>New User</h1>
		</div>
		<div>
			<form  action="{{ url_for('users') }}" method="POST">
				<table>
						<tr>
							<td>Name:</td>
							<td><input type="text" name="name"></td>
						</tr>
						<tr>
							<td>First Name:</td>
							<td><input type="text" First Name="fname"></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input type="text" Last Name="lname"></td>
						</tr>
>
					</table><br>
					<input type="submit" value="usera"/>
					<a href="{{ url_for('home') }}" ><input type="button" value="useradd"</a>
			</form>
		</div>
	</body>
</html>